


ul.sonarmenu{
    list-style: none;   /*简写属性在一个声明中设置所有的列表属性*/
}

ul.sonarmenu li{
    display:block;  /*属性规定元素应该生成的框的类型为行内*/
}

ul.sonarmenu a{
    position: relative;   /*属性规定元素的定位类型：相对定位*/
    display: inline-block;
    color: black; /* font color */
    text-decoration: none;/*字体样式*/
    margin: 20px -10px;          /*上下左右边框局*/
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /* font size */
    letter-spacing: 2px;    /*文字间距*/
    border-bottom: 2px inset black /* 大小 风格 颜色 */
}

ul.sonarmenu a:hover, ul.sonarmenu a:focus{
    outline: none;
    color: royalblue;
    border-bottom: 10px solid white;
}

/*绘制选中动态效果*/
ul.sonarmenu a::before, ul.sonarmenu a:after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px; /* width of outer circle */
    height: 70px; /* height of outer circle */
    border: 12px double rgba(0,0,0,0.1); /* style and color of circles */
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

ul.sonarmenu a:after{
    width: 60px; /* width of inner circle */
    height: 60px; /* width of inner circle */
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

ul.sonarmenu a:hover:before, ul.sonarmenu a:hover:after{
    -webkit-animation: pulsate 1.2s infinite;
    -moz-animation: pulsate 1.2s infinite;
    -ms-animation: pulsate 1.2s infinite;
    animation: pulsate 1.2s infinite;
}


@-webkit-keyframes pulsate{

    30%{
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    }

    100%{
        opacity: 0.3;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}

@-moz-keyframes pulsate{

    30%{
        opacity: 1;
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    }

    100%{
        opacity: 0.3;
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}

@-ms-keyframes pulsate{

    30%{
        opacity: 1;
        -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    }

    100%{
        opacity: 0.3;
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.5);
    }

}



